
div#ocamlcore_header form#searchBox {
	position: relative;
	float: right;
	margin: 0px;
	padding: 0px;
}

div#ocamlcore_header ul {
	text-align: right;
	font-size: 12px;
  margin: 0px;
}

div#ocamlcore_header li {
	display: inline;
	padding-left: 0.5em;
}

div#outer-tabs {
	background-color: #ababb2;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

div#ocamlcore_content {
	padding: 0px;
}

div#ocamlcore_header a:link 
{ 
	text-decoration:none; 
	color: white; 
}

div#ocamlcore_header a:visited 
{ 
	text-decoration:none; 
	color: white; 
}

div#ocamlcore_header a:active 
{ 
	text-decoration:none 
}

div#ocamlcore_header a:hover 
{ 
	text-decoration:underline; 
}

