<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
{{- with .Params.no_index }}
    {{ if . }}<meta name="robot" content="noindex" />{{ end }}
{{ end -}}
{{- with .Site.Params.googleUA }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ . }}');
  </script>
{{ end -}}
  </head>